@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.navbar{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5em;
    background-image: url(/public/assets/wood-background.jpg);
}

.pagetitle{
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 3em;
    padding-top: 5px;
    margin-bottom: 3px;

}

.nav-item{
    font-family: 'MedievalSharp', cursive;
    font-size: .9em;
}

.nav-link{
    background-color: transparent;
    color: black !important;
}

.nav-link.active{
    background-color: transparent !important;
    border: 0 !important;
}

.nav-tabs{
    background-color: transparent;
    border: 0 !important;
}

.tab-content{
    font-family: 'MedievalSharp', cursive;
    font-size: 1em;
    color: black;
}

h1{
    font-family: 'MedievalSharp', cursive;
}

h5{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5rem;
}

.site-footer{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.20em; 
}

.card-title{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5rem;
    color: black;
    background-color: transparent;
    text-align: center;
}
