@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.navbar{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5em;
    background-image: url(/public/assets/wood-background.jpg)
}

.nav-link{
    color: white;
}

h1{
    font-family: 'MedievalSharp', cursive;
}

.card-header{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5em;
    color: black;
}

.site-footer{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.20em;
}