@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.pagetitle{
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 3em;
    padding-top: 5px;
    margin-bottom: 3px;
}
#nav-row{
    justify-content: center;
    padding-top: .2em;
    padding-bottom: .2em;
}

.navbar{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5em;
    background-image: url('/public/assets/wood-background.jpg');
}

.nav-tabs{
    justify-content: center !important;
}

.nav-item{
    font-family: 'MedievalSharp', cursive;
    font-size: .9em;
}

.nav-link{
    background-color: transparent;
    color: black !important;
}

.nav-link.active{
    background-color: transparent !important;
    border: 0 !important;
}

.nav-link-header:hover{
    color: #527754;
}

.nav-link-footer:hover{
    color: #527754;
}

.nav-link-header{
    font-size: 1.5em;
    color: #eeec91;
    text-decoration: none;
    margin-right: 1em;
}

.nav-link-footer{
    font-size: 1em;
    color: #eeec91;
    text-decoration: none;
}

.btn-link{
    margin-top: 5px;
    font-size: 1em !important;
    color: #eeec91 !important;
    text-decoration: none !important;
}

.btn-sm{
    padding: .025rem .25rem !important;
}

.nav-tabs{
    background-color: transparent;
    border: 0 !important;
}

.tab-content{
    font-family: 'MedievalSharp', cursive;
    font-size: 1em;
    color: black;
}

h1{
    font-family: 'MedievalSharp', cursive;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    color:#eeec91 !important;
}

h5{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5rem;
}

.site-footer{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.20em;
    background-color: darkgoldenrod;
    background-image: url('../public/assets/wood-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    border-width: 0 !important;
    border-color: transparent !important;
    background-color: transparent !important;
}

.card-title{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5rem;
    color: black;
    background-color: transparent;
    text-align: center;
}

@keyframes cardDisplay {
    0% {
        opacity:0; 
        transform: scale(.9);
        }
    100% {
        opacity:1;
        transform: scale(1);
    }
}

.builder-card{

    animation: cardDisplay 400ms ease-in;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}